@font-face {
    font-family: myFont;
    src: url(Helvetica\ MediumItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #010001;
    color: white;
    scroll-behavior: smooth;
    height: 100%;
}

.Header {
    width: 100%;
    height: 100vh;
}

.container {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a span {
    color: red;
}

nav ul li a:hover {
    color: red;
    transition: 0.3s;
}

.header-text {
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
}

.header-text h1 {
    font-size: 60px;
}

.title {
    color: red;
}

.name {
    transition: 0.5s ease-out;
}

.name:hover, .name:hover span {
    color: red;
    transition: all ease-in-out 0.3s;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-links a i {
    font-size: 2rem;
    opacity: 0.9;
}

.social-links a:hover {
    color: red;
    transition: 0.3s;
}

.contact form{
    width: 25%;
    margin-left: 38%;
}

form input, form textarea{
    justify-content: center;
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px ;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 2px solid red;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: red;
    background-color: transparent;
    transition: 0.2s;
}

.btn:hover {
    border: 2px solid white;
    color: black;
    background-color: white;
    transition: 0.3s
}



footer-container{
    width: 100%;
    padding: 70px 30px 20px;

}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbottom p{ 
color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
