@font-face {
    font-family: myFont;
    src: url(Helvetica\ MediumItalic.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}
html {
    scroll-behavior: smooth;
}

body{
    background-color: #010001;
    color: white;
    scroll-behavior: smooth;
    height: 100%;
}

.Header{
    width: 100%;
    margin-bottom: 2%;
    }

.container {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #010001;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li span{
    color: red;
}

nav ul li a:hover {
    color: red;
    transition: 0.3s;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
    margin: 0 15px;

}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container{
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.image-container .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.front {
    filter: saturate(0%);
    opacity: 0.7;
    object-fit: cover;
    transition: 2.5s;
}

.front:hover{
    filter: saturate(100%);
    opacity: 1;
    transform: scale(1.01);
    transition: 0.2s;
}

.image-info{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 1;
}


.image-info h2{
    margin-bottom: 15%;
}


.image-info.active-image-info {
    z-index: 1;
}

.info-text {
    transition: transform 0.5s ease-in-out;
}

.info-text.hide {
    transform: scale(0);
}

.more{
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem;
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    text-decoration: none;
    transition: 2.5s;
    background-color: transparent;
}

.more:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}




/* Footer */

footer-container{
    width: 100%;
    padding: 70px 30px 20px;

}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbottom p{ 
color: white;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



.modal{
    position: fixed;
    
}


.modal , .scroller-container{
    display: flex;
    align-items: center;
    width: 600px;
    height: 600px;
    left: 35%;
    top: 20%;

    
    
}

.modal{
    transform: scale(0);
    transition: 0.5s;
}

.modal.active{
    transform: scale(1);
    transition: 0,5s;
    
}

.media-scroller{
    width: 600px;
    height: auto;
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 1rem 1rem;
    scroll-snap-type: inline mandatory;
    align-content: center;
    align-items: center;
    
}

.media-element{
    width: 100%;
}

.media-element img{
    width: 100%;
    margin-left: 3%;
}
.media-element video{
    width: 100%;
    margin-left: 3%;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.media-scroller::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.left-button {
    left: 0;
}
.right-button {
    right: 0;
}



#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    
}

#overlay.active {
    z-index: 0;
    opacity: 1;
    pointer-events: all;
}